################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/2MoneyPOC/.vs/2MoneyPOC
/2MoneyPOC/2MoneyPOC/obj
/2MoneyPOC/2MoneyPOC/bin/Debug/net8.0
/2MoneyPOC/.vs/ProjectEvaluation
